<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lucascalderon1.combustivel">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_inicial"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_inicial"
        android:supportsRtl="true"
        android:theme="@style/Theme.Light.Combustivel"
        tools:targetApi="31">
        <activity
            android:name=".onboarding.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FormProdutoActivity"
            android:exported="false" />
        <activity
            android:name=".cards.RegistrosActivity"
            android:exported="false" />

        <activity
            android:name=".cards.PostoActivity"
            android:exported="false" />
        <activity
            android:name=".cards.DistanciaActivity"
            android:exported="false" />
        <activity
            android:name=".cards.MediaActivity"
            android:exported="false" />
        <activity
            android:name=".cards.QuantoVouGastarActivity"
            android:exported="false" />
        <activity
            android:name=".cards.AlcoolOuGasolinaActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3210027481434346~7812669507" />


    </application>

</manifest>